.forecastContainer,.todayForecastContainer {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}
.forecastContainer h2,.todayForecastContainer h2 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.forecastGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.todayForecastGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.forecastItem,.forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(58, 66, 68);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.forecastItem img,.forecastItem img {
    width: 50px;
    height: 50px;   
}
.forecastItem p,.forecastItem p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

@media(max-width : 360px) {
    .forecastGrid,.todayForecastGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    .forecastItem,.forecastItem {
        width: 100%;
    }
    .forecastItem img,.forecastItem img {
        width: 30px;
        height: 30px;
    }
    .forecastItem p,.forecastItem p {
        font-size: 1rem;
    }
}